<?php echo $this->form()->openTag($form); ?>
<?php echo $this->formHidden($form->get('ID_Lista')); ?>
<?php echo $this->formHidden($form->get('relacaoLista')); ?>
<?php echo $this->formHidden($form->get('fk_id_plan')->setValue($this->plan)); ?>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            Lista <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label><?php echo $form->get('Nome')->getLabel(); ?></label>
                    <?php echo $this->formText($form->get('Nome')); ?>
                </div>
            </div>
            <div class="row ">
                <div id="rowContent">
                    <?php
                        if(count($this->itens) > 0)
                        {
                            foreach($this->itens as $item)
                            {
                                ?>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-10">
                                        <input type="text"  onchange="update()"  class="form-control itemLista" value="<?php echo $item["Descricao"]?>" />
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" onclick="remove(this);" class="btn btn-sm btn-danger"><i class="fa fa-add">-</i> </button>
                                    </div>
                                </div>


                                <?php
                            }
                        }

                    ?>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <button type="button" onclick="add();" class="btn btn-sm btn-primary"><i class="fa fa-add">Adicionar item</i> </button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <?php echo $this->formButton($form->get('submit')); ?>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag($form); ?>


<script type="text/javascript">
    $(document).ready(function () {
        $('#plan-default-save').parsley();

    });

    function update()
    {
        var str = '';
        $("#relacaoLista").val("");

        $('input[type="text"]').each(function(){
            if($(this).attr('id') != 'Nome')
            str += $(this).val() + "¢";
        });

        $("#relacaoLista").val(str);
    }

    function add()
    {
        $("#rowContent").append('<div class="form-group col-sm-12"><br><div class="col-sm-10"><input type="text" onchange="update()" class="form-control itemLista" /></div><div class="col-sm-2"><button type="button" onclick="remove(this);" class="btn btn-sm btn-danger"><i class="fa fa-add">-</i> </button></div></div>');
    }

    function remove(obj)
    {
        $(obj).closest('.form-group').remove();
        update();
    }



</script>
