<?php echo $this->form()->openTag($form); ?>
<?php echo $this->formHidden($form->get('ID_Nota')); ?>
<?php echo $this->formHidden($form->get('fk_id_plan')->setValue($this->plan)); ?>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            Nota <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label><?php echo $form->get('Nome')->getLabel(); ?></label>
                    <?php echo $this->formText($form->get('Nome')); ?>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label><?php echo $form->get('Conteudo')->getLabel(); ?></label><br>
                    <?php echo $this->formTextArea($form->get('Conteudo')); ?>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <?php echo $this->formButton($form->get('submit')); ?>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag($form); ?>


<script type="text/javascript">
    $(document).ready(function () {


        $('.TextAreaContent').wysihtml5({
            toolbar: {
                "font-styles": true, // Font styling, e.g. h1, h2, etc.
                "emphasis": true, // Italics, bold, etc.
                "lists": false, // (Un)ordered lists, e.g. Bullets, Numbers.
                "html": false, // Button which allows you to edit the generated HTML.
                "link": false, // Button to insert a link.
                "image": false, // Button to insert an image.
                "color": false, // Button to change color of font
                "blockquote": false, // Blockquote
                "size": "xs" // options are xs, sm, lg
            }
        });

        $('#plan-default-save').parsley();

    });
</script>
