

<!-- /.panel panel-info -->


<div class="box box-warning">
    <div class="box-header">

        <div class="pull-left">
            <h3>Pacientes Cadastrados</h3>
        </div>
        
        <p class="pull-right">
            <a title="Novo" href="/paciente/paciente/save" class="btn btn-warning">
                <i class="fa fa-save"></i>
                Novo
            </a>
        </p>

    </div>


    <div class="box-body">
        <div class="box-body table-responsive">

            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Ações</th>
                    <th>Nome</th>
                </tr>
                </thead>
                <tbody>

                <?php foreach ($paginator as $item) { ?>

                    <tr>
                        <td>
                            <a title="Editar" href="paciente/paciente/save/id/<?php echo $item['PK_ID_PACIENTE']; ?>" class="btn btn-success btn-xl">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a title="Excluir" href="#" onclick="confirmModal('Você confirma a exclusão?', '/paciente/paciente/delete/id/<?php echo $item['PK_ID_PACIENTE']; ?>'); return false;" class="btn btn-danger btn-xl">
                                <i class="glyphicon glyphicon-remove-sign"></i>
                            </a>
                            <a title="Visualizar Acompanhamento" href="paciente/paciente/perfil/id/<?php echo $item['PK_ID_PACIENTE']; ?>" class="btn btn-success btn-xl">
                                <i class="glyphicon glyphicon-user"></i>
                            </a>

                        </td>
                        <td><?php echo $item['NOME']; ?></td>
                    </tr>

                <?php } ?>

                </tbody>
            </table>
            <!-- /.table table-hover table-striped table-bordered -->

            <div class="pull-right">
                <?php echo $this->paginationControl($paginator, 'Sliding', 'partials/paginator/control'); ?>
            </div>
            <div class="pull-left">
                <h5 class="box-title">Foram encontrados <b><?php echo $paginator->getTotalItemCount(); ?></b> resultados.</h5>
            </div>

        </div>
        <!-- /.table-responsive -->
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {


    });
</script>
