<?php echo $this->doctype(); ?>

<html>
<head>
  <base href="<?php echo $this->serverUrl(); ?>"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PLANNER</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <!-- Pace style -->
  <link rel="stylesheet" href="/plugins/pace/pace.min.css">
  
  <!-- daterange picker -->
  <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker-bs3.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="/plugins/iCheck/all.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="/plugins/timepicker/bootstrap-timepicker.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/plugins/select2/select2.min.css">
  <!-- bootstrap-toggle -->
  <link rel="stylesheet" href="/plugins/bootstrap-toggle/css/bootstrap-toggle.min.css">

  <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/js/bootcomplete.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css"> 
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
  
  
  
  <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
  
  <!--
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
  
  <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
  -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  

    <?php echo $this->headTitle('Skel ')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array(
        'rel'  => 'shortcut icon',
        'type' => 'image/vnd.microsoft.icon',
        'href' => $this->basePath() . '/images/favicon.ico'
    ));
    ?>
  
</head>
<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body class="skin-blue">

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>    
    
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="plan/default/index" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b></b></span>
      
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>PLANNER</b> </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Bem-vindo <?php echo $this->userLogado->Nome;?></span>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="admin/autenticacao/sair-do-sistema" class="btn btn-default btn-flat">Sair do Sistema</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <br>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <div class="pull-center info" style="text-align: center;">
        <?php if(isset($this->planAtual) && $this->planAtual > 0)
        {
          ?>
          <div class="input-group-btn">
            <button type="button" class="btn  btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" >NOVO PIN
              <span class="fa fa-caret-down"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#myModal" data-toggle="modal" onclick="renderViewOnModal('/plan/pin/save-nota/plan/<?php echo $this->planAtual;?>')" >Nota</a></li>
              <li><a href="#myModal" data-toggle="modal" onclick="renderViewOnModal('/plan/pin/save-lista/plan/<?php echo $this->planAtual;?>')" >Lista</a></li>
            </ul>
          </div>
          <?php
        } else {?>
        <a href="#myModal" data-toggle="modal" onclick="renderViewOnModal('/plan/default/save')" class="btn btn-flat btn-sm btn-danger" style="color: white;">NOVA PLAN</a>
        <?php }?>
      </div>


      <ul class="sidebar-menu">

        <br>
        <li class="header">SUAS PLANS</li>
        <?php
              if(isset($this->plan))
              {
                foreach($this->plan as $p)
                {
                  echo '<li><a href="/plan/default/view/plan/'.$p["ID_Plan"].'"><i class="fa fa fa-map-o text-info"></i></i><span>'.$p["Nome"].'</span></a></li>';
                }
              }
        ?>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <?php foreach ($this->flashMessenger()->getMessages() as $mensagem) {

            switch (key($mensagem)) {
                case 'warning':
                    $icone = 'warning';
                    break;
                case 'danger' :
                    $icone = 'times';
                    break;
                case 'info'   :
                    $icone = 'exclamation';
                    break;
                case 'success':
                    $icone = 'check';
                    break;
                default :
                    $icone = 'exclamation';
            }
            ?>

            <div class="alert alert-<?php echo key($mensagem); ?> alert-dismissable fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa-fw fa-lg fa fa-<?php echo $icone; ?>"></i>
                <?php echo current($mensagem); ?>
            </div>

        <?php } ?>           
        
    </section>

    <!-- Main content -->
    <section class="content">
        
        <?php echo $this->content; ?>
        
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
</div>
<!-- ./wrapper -->

 <script type="text/javascript" src="http://digitalbush.com/wp-content/uploads/2014/10/jquery.maskedinput.js"></script>


<!-- jQuery 2.2.0 -->

<script src="/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->




<!-- Select2 -->


<script src="/plugins/select2/select2.full.min.js"></script>


<script src="/plugins/jQuery/jquery.maskedinput-1.2.2.min.js"></script>


<script src="/plugins/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>

<!-- Funções da aplicão -->

<script src="/js/functions.js"></script>
<script src="/js/parsley.min.js"></script>
<script src="/js/i18n/pt-br.js"></script>
<script src="/js/jquery.bootcomplete.js"></script>
<!-- SlimScroll 1.3.0 -->

<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- FastClick -->
<script src="/plugins/fastclick/fastclick.js"></script>
<script src="/plugins/iCheck/icheck.min.js"></script>

<!-- AdminLTE App -->
<script src="/dist/js/app.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- PACE -->
<script src="/plugins/pace/pace.min.js"></script>

<!-- InputMask -->

<script src="/plugins/input-mask/jquery.inputmask.js"></script>
<script src="/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/plugins/input-mask/jquery.inputmask.extensions.js"></script>


<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- bootstrap time picker -->
<script src="/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- iCheck 1.0.1 -->

<!-- Bootbox -->
<script src="/plugins/bootbox/bootbox.min.js"></script>

<script src="/plugins/jQueryUI/jquery-ui.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>




</body>
</html>


