

<div class="box box-primary">

    <div class="box-header with-border">
        <h4><i class="glyphicon glyphicon-edit"></i> Filtros de busca</h4>
    </div>
    <!-- /.panel-heading -->

    <?php echo $this->form()->openTag($formFilter); ?>

    <div class="box-body">

            <div class="row">

                <div class="form-group col-sm-4">
                    <label><?php echo $formFilter->get('description')->getLabel(); ?></label>
                    <?php echo $this->formText($formFilter->get('description')); ?>
                </div>

                <div class="col-sm-4">
                    <label><?php echo $formFilter->get('teste')->getLabel(); ?></label>
                    <?php echo $this->formText($formFilter->get('teste')); ?>
                </div>                
            </div>
            <!-- /.row -->

    </div>
    <!-- /.panel-body -->
    
    <div class="box-footer">
        <div class="pull-right">
            <?php echo $this->formSubmit($formFilter->get('submit')); ?>
        </div>
    </div>

    <?php echo $this->form()->closeTag($formFilter); ?>
</div>
<!-- /.panel panel-info -->


<div class="box box-warning">
    <div class="box-header">

        <div class="pull-left">
            <h3 class="box-title">Foram encontrados <b><?php echo $paginator->getTotalItemCount(); ?></b> resultados.</h3>
        </div>
        
        <p class="pull-right">
            <?php
                echo $this->renderAuthorizedLink([
                    'link' => '/skel/default/save',
                    'type' => 'new',
                ]);            
            ?>
        </p>

    </div>
    
    
    
    <div class="box-body">
        <div class="box-body table-responsive">

            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Ações</th>
                    <th style="width: 1%">Id</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>

                <?php foreach ($paginator as $item) { ?>

                    <tr>
                        <td>
                            <?php
                                echo $this->renderAuthorizedLink([
                                    'link' => '/skel/default/save/id/' . $item['pk_id'],
                                    'type' => 'edit',
                                ]);
                                
                                echo $this->renderAuthorizedLink([
                                    'link' => '/skel/default/view/id/' . $item['pk_id'],
                                    'type' => 'view',
                                ]);
                                
                                echo $this->renderAuthorizedLink([
                                    'link' => '/skel/default/delete/id/' . $item['pk_id'],
                                    'type' => 'delete',
                                ]);
                           ?>
                        </td>
                        <td><span class="label label-success"><?php echo $item['pk_id']; ?></span></td>
                        <td><?php echo $item['description']; ?></td>
                    </tr>

                <?php } ?>

                </tbody>
            </table>
            <!-- /.table table-hover table-striped table-bordered -->

            <div class="pull-right">
                <?php echo $this->paginationControl($paginator, 'Sliding', 'partials/paginator/control'); ?>
            </div>

        </div>
        <!-- /.table-responsive -->
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {


    });
</script>
