<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Exemplo</h4>
                </div>
            </div>

            <?php if ($item) { ?>
                <div class="row">
                    <div class="col-lg-12">
                        <h4><?php echo $item; ?></h4>
                    </div>
                </div>
            <?php } ?>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {

    });
</script>