<?php $form->dispatchErrorMessages(); ?>

<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Alteração de Senha</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
            <?php echo $this->form()->openTag($form); ?>
            <?php echo $this->formHidden($form->get('senha_de_acesso_atual')); ?>
            
            <div class="box-body">
                <div class="row">  
                    <div class="form-group col-sm-4">
                        <label><?php echo $form->get('senha_de_acesso_atual')->getLabel(); ?></label>
                        <?php echo $this->formPassword($form->get('senha_de_acesso_atual')); ?>
                    </div>
                </div>
                <div class="row">  
                    <div class="form-group col-sm-4">
                        <label><?php echo $form->get('nova_senha_de_acesso')->getLabel(); ?></label>
                        <?php echo $this->formPassword($form->get('nova_senha_de_acesso')); ?>
                    </div>
                </div>
                <div class="row">  
                    <div class="form-group col-sm-4">
                        <label><?php echo $form->get('confirmacao_de_nova_senha_de_acesso')->getLabel(); ?></label>
                        <?php echo $this->formPassword($form->get('confirmacao_de_nova_senha_de_acesso')); ?>
                    </div>
                </div>
                  
            </div>
            <!-- /.box-body -->

              <div class="box-footer">
                <div class="margin">
                    <?php echo $this->formButton($form->get('submit')); ?>
                    <?php echo $this->formButton($form->get('reset')); ?>
                    <?php echo $this->formButton($form->get('cancel')); ?>
                </div>
              </div>
              
            <?php echo $this->form()->closeTag($form); ?>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        
        $("#exemplo_select").select2({
            theme: "bootstrap",
            placeholder: "Escolha uma opção",
            allowClear: true
        });

        $("#exemplo_data").datepicker({
            format: "dd/mm/yyyy",
            language: 'pt-BR'
        });

        $("#cnpj").mask("99.999.999/9999-99");

    });

</script>
