<div class="box box-primary">

    <div class="box-header with-border">
        <h4><i class="glyphicon glyphicon-edit"></i> Filtros de busca</h4>
    </div>
    <!-- /.panel-heading -->

    <?php echo $this->form()->openTag($formFilter); ?>

    <div class="box-body">

            <div class="row">

                 <div class="form-group col-sm-3">
                    <label><?php echo $formFilter->get('nome')->getLabel(); ?></label>
                    <?php echo $this->formText($formFilter->get('nome')); ?>
                </div>

                <div class="form-group col-sm-3">
                    <label><?php echo $formFilter->get('email')->getLabel(); ?></label>
                    <?php echo $this->formText($formFilter->get('email')); ?>
                </div>

                <div class="form-group col-sm-2">
                    <label><?php echo $formFilter->get('login')->getLabel(); ?></label>
                    <?php echo $this->formText($formFilter->get('login')); ?>
                </div>                
            
        
                <div class="form-group col-sm-3">
                    <label><?php echo $formFilter->get('fk_id_nivel_de_acesso')->getLabel(); ?></label>
                    <?php echo $this->formSelect($formFilter->get('fk_id_nivel_de_acesso')); ?>
                </div>
                
                <div class="form-group col-sm-1">
                    <label><?php echo $formFilter->get('esta_ativo')->getLabel(); ?></label>
                    <?php echo $this->formSelect($formFilter->get('esta_ativo')); ?>
                </div> 
        
                </div>
            </div>
            <!-- /.row -->

  
    <!-- /.panel-body -->
    
    <div class="box-footer">
        <div class="pull-right">
            <?php echo $this->formSubmit($formFilter->get('submit')); ?>
        </div>
    </div>

    <?php echo $this->form()->closeTag($formFilter); ?>
</div>
<!-- /.panel panel-info -->


<div class="box box-warning">
    <div class="box-header">

        <div class="pull-left">
            <h3 class="box-title">Foram encontrados <b><?php echo $paginator->getTotalItemCount(); ?></b> resultados.</h3>
        </div>
        
        <p class="pull-right">
            <?php
                echo $this->renderAuthorizedLink([
                    'link' => '/admin/usuario/save',
                    'type' => 'new',
                ]);
            ?>
        </p>

    </div>
    
    
    
    <div class="box-body">
        <div class="box-body table-responsive">

            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-2">Ações</th>
                    <th class="col-sm-1">Está Ativo?</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Nível de acesso</th>
                </tr>
                </thead>
                <tbody>

                <?php foreach ($paginator as $usuario) { ?>

                    <tr>
                        <td>  <?php
                                echo $this->renderAuthorizedLink([
                                    'link' => '/admin/usuario/save/id/' . $usuario['pk_id_usuario'],
                                    'type' => 'edit',
                                ]);
                                
                                echo $this->renderAuthorizedLink([
                                    'link' => '/admin/usuario/view/id/' . $usuario['pk_id_usuario'],
                                    'type' => 'view',
                                ]);
                                
                                echo $this->renderAuthorizedLink([
                                    'link' => '/admin/usuario/delete/id/' . $usuario['pk_id_usuario'],
                                    'type' => 'delete',
                                ]);
                                ?></td>
                        
                        <td><?php echo $this->yesOrNo([  
                                    'value' => $usuario['esta_ativo'],
                                ]);?></td>
                        <td><?php echo $usuario['nome']; ?></td>
                        <td><?php echo $usuario['email']; ?></td>
                        <td><?php echo $usuario['login']; ?></td>
                        <td><?php echo $usuario['nivel_de_acesso']; ?></td>
                    </tr>

                <?php } ?>

                </tbody>
            </table>
            <!-- /.table table-hover table-striped table-bordered -->

            <div class="pull-right">
                <?php echo $this->paginationControl($paginator, 'Sliding', 'partials/paginator/control'); ?>
            </div>

        </div>
        <!-- /.table-responsive -->
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#fk_id_nivel_de_acesso").select2();
    });
</script>
