<?php $form->dispatchErrorMessages(); ?>

<div class="box box-success">
            <div class="box-header with-border">
                <?php if($form->get('pk_id_usuario')->getValue()) { ?>
                
              <h3 class="box-title">Alterar usuário</h3>
              
                <?php } else {?>
   
              <h3 class="box-title">Cadastrar usuário</h3>
              
                <?php } ?>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
            <?php echo $this->form()->openTag($form); ?>
            
           
            <?php echo $this->formHidden($form->get('pk_id_usuario')); ?>
            
            <div class="box-body">
                
                <div class="row">  
                    <div class="form-group col-sm-2">
                        <label><?php echo $form->get('esta_ativo')->getLabel(); ?><span style="color: red;"> *</span></label><br>
                        <?php echo $this->formCheckbox($form->get('esta_ativo')); ?>
                    </div>
                </div>
                
                <div class="row">  
                    <div class="form-group col-sm-4">
                        <label><?php echo $form->get('nome')->getLabel(); ?><span style="color: red;"> *</span></label>
                        <?php echo $this->formText($form->get('nome')); ?>
                    </div>
                </div>
                <div class="row">  
                    <div class="form-group col-sm-4">
                        <label><?php echo $form->get('login')->getLabel(); ?><span style="color: red;"> *</span></label>
                        <?php echo $this->formText($form->get('login')); ?>
                    </div>
                </div>
                <div class="row">  
                    <div class="form-group col-sm-4">
                        <label><?php echo $form->get('email')->getLabel(); ?><span style="color: red;"> *</span></label>
                        <?php echo $this->formText($form->get('email')); ?>
                    </div>
                </div>
                
                 <div class="row">  
                    <div class="form-group col-sm-4">
                        <label><?php echo $form->get('fk_id_nivel_de_acesso')->getLabel(); ?><span style="color: red;"> *</span></label>
                        <?php echo $this->formSelect($form->get('fk_id_nivel_de_acesso')); ?>
                    </div>
                </div>
                  
            </div>
            <!-- /.box-body -->

              <div class="box-footer">
                <div class="margin">
                    <?php echo $this->formButton($form->get('submit')); ?>
                     <?php if(!$form->get('pk_id_usuario')->getValue()) { ?>
                     <?php echo $this->formButton($form->get('reset')); }?>
                    <?php echo $this->formButton($form->get('cancel')); ?>
                </div>
              </div>
              
            <?php echo $this->form()->closeTag($form); ?>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#fk_id_nivel_de_acesso").select2();
    });

</script>
