<div class="col-md-12" >
    <div class="modal-dialog modal-lg" >
        <section class="content">
            <div class="row">
                  <!-- Profile Image -->
                <div class="box box-primary">



                    <div class="modal-header bg-light-blue ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <i class="glyphicon glyphicon-remove"></i></button>
                          <h4 class="modal-title"><b><?php echo $item['nome']; ?></b></h4>
                    </div>

                    <div class="box-body box-profile">

                            <div class="">

                                <div class="box-body">

                                    <div class="box-body table-responsive">

                                        <table class="table table-hover table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                     <th>Está Ativo?</th>
                                                    <th>Nome</th>
                                                    <th>Email</th>
                                                    <th>Login</th>
                                                    <th>Nível de acesso</th>
                                                    <th>Cadastrado Em</th>
                                                    <th>Alterado Em</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                   <td><?php echo $this->yesOrNo([
                                                        'value' => $item['esta_ativo'],
                                                        ]);?></td>  
                                                   <td><?php echo $item["nome"]; ?></td>
                                                   <td><?php echo $item["email"]; ?></td>
                                                   <td><?php echo $item["login"]; ?></td>
                                                   <td><?php echo $item["nivel_de_acesso"]; ?></td>
                                                   <td><?php echo $item["cadastrado_em"]; ?></td>
                                                   <td><?php echo $item["alterado_em"]; ?></td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    <!-- /.table table-hover table-striped table-bordered -->

                                    </div>


                                </div>
                            </div>


                        <!-- /tabs-custom-->    
                    </div>  
                    <!-- /box-profile-->

                    <div class="modal-footer bg-light-blue-active">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                    </div>
                </div>     
            </div>  

        </section>
    </div>
        
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#cpf_ou_cnpj').mask('00000000000000', {reverse: true});
        $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
        $('.cpf').mask('000.000.000-00', {reverse: true});
        $('.rg').mask('00.000.000-0', {reverse: true});
        $('.cep').mask('00000-000', {reverse: true});
    });
  
</script>