<?php
    $getParams    = array_filter($_GET) ? array_filter($_GET) : array();
    $postParams   = array_filter($_POST) ? array_filter($_POST) : array();
    $mergedParams = $getParams;

    if ($postParams) {
        $mergedParams = $postParams;
    }

    $params = "";
    
    foreach ($mergedParams as $varivel => $valor) {
        
        if($valor && $varivel != 'submit' && $varivel != 'page') {
            
            if(is_array($valor)) {
                foreach ($valor as $value) {
                    $params .= $varivel . "[]=" . $value . "&";
                }
            }
            
            if(is_array($valor) == false) {
                $params .= $varivel . "=" . $valor . "&";
            }
        }
    }
    
    if ($params) {
       $params = '?' . $params; 
    }
?>

<?php if ($this->pageCount > 1){ ?>
<div class="dataTables_paginate paging_simple_numbers" id="datatable_fixed_column_paginate">
    <ul class="pagination pagination-sm">
        <?php if($this->current != 1): ?>
            <li class="paginate_button previous" aria-controls="datatable_fixed_column" tabindex="0" id="datatable_fixed_column_first"><a href="<?php echo self::url(null, array('page' => 1), true) . $params; ?>"><< Primeira</a></li>
        <?php else: ?>
            <li class="paginate_button previous disabled" aria-controls="datatable_fixed_column" tabindex="0" id="datatable_fixed_column_first"><a href="javascript:void(0)"><< Primeira</a></li>
        <?php endif;?>

        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
            <li class="paginate_button previous" aria-controls="datatable_fixed_column" tabindex="0" id="datatable_fixed_column_previous"><a href="<?php echo self::url(null, array('page' => $this->previous), true) . $params; ?>">< Anterior</a></li>
        <?php else: ?>
            <li class="paginate_button previous disabled" aria-controls="datatable_fixed_column" tabindex="0" id="datatable_fixed_column_previous"><a href="javascript:void(0)">< Anterior</a>
        <?php endif; ?>

        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li class="paginate_button" aria-controls="datatable_fixed_column" tabindex="0"><a href="<?php echo self::url(null, array('page' => $page), true) . $params; ?>"><?php echo $page; ?></a></li>
            <?php else: ?>
                <li class="paginate_button active" aria-controls="datatable_fixed_column" tabindex="0"><a href="javascript:void(0)"><?php echo $page; ?></a></li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->

        <?php if (isset($this->next)): ?>
            <li class="paginate_button next" aria-controls="datatable_fixed_column" tabindex="0" id="datatable_fixed_column_next"><a href="<?php echo self::url(null, array('page' => $this->next), true) . $params; ?>">Próxima ></a></li>
        <?php else: ?>
            <li class="paginate_button next disabled" aria-controls="datatable_fixed_column" tabindex="0" id="datatable_fixed_column_next"><a href="javascript:void(0)">Próxima ></a></li>
        <?php endif; ?>

        <?php if($this->current != $this->pageCount): ?>
            <li class="paginate_button last" aria-controls="datatable_fixed_column" tabindex="0" id="datatable_fixed_column_last"><a href="<?php echo self::url(null, array('page' => $this->pageCount), true) . $params; ?>">Última >></a></li>
        <?php else: ?>
            <li class="paginate_button last disabled" aria-controls="datatable_fixed_column" tabindex="0" id="datatable_fixed_column_last"><a href="javascript:void(0)">Última >></a></li>
        <?php endif;?>
    </ul>
</div>
<?php } 