<?php echo $this->form()->openTag($form); ?>
<?php echo $this->formHidden($form->get('fk_id_plan')->setValue($this->plan)); ?>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">Compartilhar Plan
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Digite o endereço de email do usuário a ser adicionado</label>
                    <input id="email" type="text" name="email" placeholder="Digite um email" class="form-control">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <?php echo $this->formButton($form->get('submit')); ?>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag($form); ?>

<script type="text/javascript">
    $(document).ready(function () {
        $('#email').bootcomplete({
            url:'/plan/default/get-all-usuarios/userStr/'
        });
    });
</script>
