<h2>SUAS PLANS</h2>
<div class="row">
    <?php if(isset($this->plan))
        {
            foreach($this->plan as $p){?>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <div class="box-header">
                        <a href="/plan/default/view/plan/<?php echo $p["ID_Plan"]?>"><span class="info-box-icon bg-aqua" style="margin-right: 10px;">
                            <i class="fa fa-map-o"></i></span></a>
                            <span class="info-box-number"><a href="/plan/default/view/plan/<?php echo $p["ID_Plan"]?>"><?php echo $p["Nome"];?></a></span>
                            <span class="info-box-text"><?php echo $p["Descricao"];?></span>
                                <div class="box-tools pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-sort-down"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#myModal" data-toggle="modal" onclick="renderViewOnModal('/plan/default/save/plan/<?php echo $p["ID_Plan"]?>')">Editar</a></li>
                                            <li><a href="#myModal" data-toggle="modal" onclick="renderViewOnModal('/plan/default/compartilhar/plan/<?php echo $p["ID_Plan"]?>')">Compartilhar</a></li>
                                            <li><a href="/plan/default/delete-plan/plan/<?php echo $p["ID_Plan"]?>" data-toggle="modal"  >Excluir</a></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            <?php }
        }
    ?>

    <div class="clearfix visible-sm-block"></div>
</div>
<script type="text/javascript">


    $(document).ready(function () {


    });
</script>