<div class="row">
<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header">
            <h2 class="box-title with-border" style="font-size: 30px;"><?php echo $this->item->Nome?></h2>
            <div class="box-tools pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-box-tool"  data-controlsidebar="control-sidebar-open"><i class="fa fa-bars "></i></button>
                </div>
            </div>

        </div>
        <div class="box-body">
            <div class="row">
                <?php

                if(isset($this->pinsAdicionadas) && $this->pinsAdicionadas)
                {
                    foreach($this->pinsAdicionadas as $html) {
                        echo $html;
                    }
                } else{
                    ?>
                    <div class="col-md-12">
                        <h4>Você não possui nenhum Pin adicionado. Para começar, clique em Novo Pin.</h4>
                    </div>
                    <?php
                }

                ?>
            </div>
        </div>
    </div>
</div>
</div>
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        <li><a href="#control-sidebar-compartilhados-tab" data-toggle="tab"><i class="fa fa-group"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane pane-active  active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Configurações</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="#myModal" data-toggle="modal" onclick="renderViewOnModal('/plan/default/save/plan/<?php echo $this->item->ID_Plan?>')">
                        <i class="menu-icon fa fa-edit bg-light-blue"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Editar</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#myModal" data-toggle="modal" onclick="renderViewOnModal('/plan/default/compartilhar/plan/<?php echo $this->item->ID_Plan?>')">
                        <i class="menu-icon fa fa-share bg-yellow"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Compartilhar</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/plan/default/delete-plan/plan/<?php echo $this->item->ID_Plan?>" data-toggle="modal" >
                        <i class="menu-icon fa fa-close bg-red"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Excluir</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="control-sidebar-compartilhados-tab">
            <h3 class="control-sidebar-heading">Usuários</h3>
            <ul class="control-sidebar-menu">
            <?php foreach($this->usuarios as $user){
                    if($userLogado->ID_Usuario != $user["ID_Usuario"]){?>
                <li>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">
                                <a href="/plan/default/delete-plan-user/plan/<?php echo $this->item->ID_Plan?>/id/<?php echo $user["ID_Acesso"]?>">
                                    <i class="fa fa-close"></i>
                                </a><?php echo $user["Nome"];?>
                                </h4>
                        </div>
                </li>
            <?php }}?>
            </ul>
            <!-- /.control-sidebar-menu -->
        </div>
        <!-- /.tab-pane -->
    </div>
</aside>

<script type="text/javascript">
    $(document).ready(function () {

        $('input[type="checkbox"]', this).on('change', function () {
            var ele = $(this).parents("li").first();
            ele.toggleClass("done");
            if ($('input', ele).is(":checked")) {
                updateListItem($('input', ele).val(),"1");
            } else {
                updateListItem($('input', ele).val(),"0");
            }
        });
    });

    function updateListItem(id, checked)
    {
        var url = "plan/pin/update-item-lista/id/"+id+"/checked/"+ checked;
        $.ajax({url: url });
    }
</script>