<div class="alert alert-danger alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h3>Você não está autorizado(a) a executar essa ação!</h3>
</div>

