<?php echo $this->form()->openTag($form); ?>
<p class="login-box-msg">Digite seu email ou  login de acesso</p>
<div class="box box-primary">
    
    <div class="box-header with-border">
	<h3>Recuperação de senha </h3>
    </div>

    
    <div class="box-body">
	<section>
	    <?php foreach($this->flashMessenger()->getMessages() as $mensagem){ 

		switch(key($mensagem))
		{
		    case 'warning': $icone = 'warning'; break;
		    case 'danger' : $icone = 'times'; break;
		    case 'info'   : $icone = 'exclamation'; break;
		    case 'success': $icone = 'check'; break;
		    default : $icone = 'exclamation';
		}
		?>

		<div class="alert adjusted alert-<?php echo key($mensagem);?> fade in">
		    <button class="close" data-dismiss="alert">×</button>
		    <i class="fa-fw fa-lg fa fa-<?php echo $icone;?>"></i>
		    <?php echo current($mensagem); ?>
		</div>

	    <?php }?>

	    <?php $form->dispatchErrorMessages(); ?>
	</section>
        <fieldset>
            <div class="form-group">
                <?php echo $this->formText($form->get('login_ou_email'));?>
            </div>
           
            <?php echo $this->formSubmit($form->get('submit'));?>
            
            <?php echo $this->formButton($form->get('voltar')); ?>
               
        </fieldset>

    </div>
</div>

<?php echo $this->form()->closeTag($form); ?>