<?php echo $this->form()->openTag($form); ?>

<p class="login-box-msg">Digite seus dados de acesso</p>
<div class="box box-primary">
    
    <div class="box-header with-border">
	<h3>Formulário de acesso</h3>
    </div>

    
    <div class="box-body">
	<section>
	    <?php foreach($this->flashMessenger()->getMessages() as $mensagem){ 

		switch(key($mensagem))
		{
		    case 'warning': $icone = 'warning'; break;
		    case 'danger' : $icone = 'times'; break;
		    case 'info'   : $icone = 'exclamation'; break;
		    case 'success': $icone = 'check'; break;
		    default : $icone = 'exclamation';
		}
		?>

		<div class="alert adjusted alert-<?php echo key($mensagem);?> fade in">
		    <button class="close" data-dismiss="alert">×</button>
		    <i class="fa-fw fa-lg fa fa-<?php echo $icone;?>"></i>
		    <?php echo current($mensagem); ?>
		</div>

	    <?php }?>

	    <?php $form->dispatchErrorMessages(); ?>
	</section>
        <fieldset>
            <div class="form-group">
                <?php echo $this->formText($form->get('email'));?>
            </div>
            <div class="form-group">
                <?php echo $this->formPassword($form->get('senha'));?>
            </div>
            <?php echo $this->formSubmit($form->get('submit'));?>
        </fieldset>

    </div>
</div>
<a  href="admin/autenticacao/save" >Cadastre-se agora</a><br>
<a  href="admin/autenticacao/enviar-nova-senha-de-acesso" >Esqueci minha senha</a>

<?php echo $this->form()->closeTag($form); ?>