<?php $form->dispatchErrorMessages(); ?>

<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Novo Usuário</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
            <?php echo $this->form()->openTag($form); ?>
            <?php echo $this->formHidden($form->get('ID_Usuario')); ?>
            
            <div class="box-body">
                <div class="row">  
                    <div class="form-group col-sm-12">
                        <label><?php echo $form->get('Nome')->getLabel(); ?></label>
                        <?php echo $this->formText($form->get('Nome')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label><?php echo $form->get('Email')->getLabel(); ?></label>
                        <?php echo $this->formText($form->get('Email')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label><?php echo $form->get('Senha')->getLabel(); ?></label><br>
                        <?php echo $this->formPassword($form->get('Senha')); ?>
                    </div>
                </div>
                  
            </div>
            <!-- /.box-body -->

              <div class="box-footer">
                <div class="margin">
                    <?php echo $this->formButton($form->get('submit')); ?>
                    <?php echo $this->formButton($form->get('cancel')); ?>
                </div>
              </div>
              
            <?php echo $this->form()->closeTag($form); ?>
</div>

